<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <!--[變數] 文字樣板 -->
  <variable name="Layout" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}"/>
  <variable name="LayoutFatal" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} | ${exception:format=tostring} ${newline}"/>

  <!--[變數] 檔案位置 -->
  <variable name="LogTxtDir" value="${basedir}/Logs/"/>
  <variable name="LogTxtLocation" value="${LogTxtDir}/LogFile.txt"/>
  <variable name="LogTxtLocationFatal" value="${LogTxtDir}/ErrorLogFile.txt"/>

  <!--[設定] 寫入目標-->
  <targets>
    <target name="File" xsi:type="File" layout="${Layout}" encoding="utf-8" archiveNumbering="Rolling"
            concurrentWrites="true" keepFileOpen="false"
            fileName="${LogTxtLocation}" archiveFileName="${LogTxtDir}/HistoryArchives/LogFile_${shortdate}.txt"
            archiveEvery="Day" maxArchiveFiles="30" archiveAboveSize="10000000"  />
    <target name="FileFatal" xsi:type="File" layout="${LayoutFatal}" encoding="utf-8" archiveNumbering="Rolling"
            concurrentWrites="true" keepFileOpen="false"
            fileName="${LogTxtLocationFatal}" archiveFileName="${LogTxtDir}/HistoryArchives/ErrorLogFile_${shortdate}.txt"
            archiveEvery="Day" maxArchiveFiles="30" archiveAboveSize="10000000"  />
  </targets>

  <!--[設定] 紀錄規則-->
  <rules>
    <logger name="*" levels="Warn" writeTo="File" />
    <logger name="*" levels="Error, Fatal" writeTo="FileFatal" />
  </rules>
</nlog>